<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Home</h1> 
   <div class="Account-Options">
       <title>Dog Walking</title>
       <div>
           <a href="/log-in" role="button">Log In</a>
       </div>
       <div>
           <a href="/sign-up" role="button">Sign Up</a>
       </div>
       <div>
           <a href="/register" role="button">Become A Walker</a>
       </div>
   </div>
</body>
</html>
