<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="bg-light-green flex-containter row">
   <div class="Account-Options bg-white align-left">
       <h1 class="green">Dog Walking</h1>
       <div>
           <a href="/log-in" role="button" class="white no-underline bg-green btn">Log In</a>
       </div>
       <div>
           <a href="/sign-up" role="button" class="white no-underline bg-green btn">Sign Up</a>

       </div>
       <div>
           <a href="/register" role="button" class="white no-underline bg-green btn">Become A Walker</a>
       </div>
       <img src="/static/landing-page-photo.png" alt="photo of a woman petting a dog on grass"
       class="circle">
   </div>
</body>
</html>
